<!DOCTYPE>
<html>
    <head>
            < <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>
            Account
        </title>
        <link rel="stylesheet" type="text/css" href="Account.css">

    </head>
    <body class="allelements">
           <div class = "wrapper">
                         
                   <div class = "flex-wrapper">
                               <div class = "flex-wrapper-items">
                                   <a href="http://localhost:8080/feed4">
                                   <i class="fa fa-arrow-left"></i>
                                </a>
                               </div>
                   </div>
                   </div>
                   



                   <%path.forEach(function(abc){%>


                    <div class = "friend-stories">
                        <div class = "friend-stories-wrapp">
                            <div class = "photo-friend-text-name"> 
                            
                            <img src = "<%= abc.P_pic %>" class = "photo-friend" width = "80px"  alt = "error"/> 
                            <div class = "this-photo-friend-text-name"> <%= abc.U_Name %></div>
                            
                          
                            
                            </div><br>
                            </div>
                            <h3><%= abc.F_Name %><%= abc.L_Name %></h3>
                            <p style="font-size: 100%"><u>BIO :</u> <%= abc.Bio%></p>
                                <!-- <p style="font-size: 80%">// #GOWDRU HUDGI😎 //</p> -->
                                <%})%>
                                <div class="sec-bar" >
                                        <div>
                                             <form method="GET" action="/search4">
                                         <input type="submit" name="Friends" value="Friends" style="width: 100px"/></br><br>
                                     </form>
                                        <!-- </div>
                                        <div> -->
                                             
                                        <!-- <input type="submit" name="Following" value="Following" style="width: 100px"/> -->
                                         </div>
                                        
                                    </div>
                     
                     
                                 <h1 align="center" >Posts</h1>
                   --------------------------------------------------------------------------------------------------------------------------------------

                   <%path1.forEach(function(img){%>
                

                    <div class = "main">
                            <div class = "for-main">
                                
                                <div class = "for-main-two">
                                <img src = "<%= img.P_Pic%>" class = "logo-small" width = "50px" alt = "error"/>
                                <div class = "for-main-text s"><%= img.U_Name  %></div>
                                <div class = "for-main-text s">---- <%= img.location  %></div>
                                </div>
                                
                                
                            </div>
                           
                           <div class = "after-main">
                                <img src= '<%= img.photo_Name%>' height="50%" width="100%"></br>
                                <div class = "likes">
                                        <div class = "sub-likes">
                                            <i class="k fa fa-heart"></i>
                                            <i class="l fa fa-comment"></i>
                                            <!-- <i class="l fa fa-share"></i> -->
                                            <a href="http://localhost:8080/<%= img.photo_Name%>">
                                                <span style="color: black; font-size : 25px;" class="glyphicon glyphicon-share"></span>
                                                  </a>
                                            </div>
                               </div>
                               <div class = "watch" align="left">Likes:<%= img.likes  %> </div>
                               <div class = "sub-main" align="left"> <span class = "black-sub-main"><%=  img.U_Name  %> : </span><%=  img.caption  %> </div>
                               <div class = "timing" align="left"> <span class = "time-this"></span> <%=  img.date_Of_Cre  %></div>
                               
                               <div class = "sub-main" align="left"> <span class = "black-sub-main"><%=  img.U_Name  %> : </span><%=  img.comment  %> </div>
        
                           </div> 
                           </div>
                              



                              --------------------------------------------------------------------------------------------------------------------------------------
         
                              <%})%>
                              <div class= "bott">
                                    <div class = "panel-footer">
                                        <div class = "tabs footer-items">
                                            <form action="http://localhost:8080/feed4">
                                             <a href="http://localhost:8080/feed4">
                                                 <span style="color: black" class="glyphicon glyphicon-home"></span>
                                               </a>
                                        </form>
                                         </div>
                                         <div class = "flex-wrapper-items">
                 
                 
                                             <!-- <input type="text" placeholder="Search by User_Name" name="search"> -->
                                             <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
                                             <form action="http://localhost:8080/feed4">
                                                 <a href="#">
                                                     <span style="color: black" class="glyphicon glyphicon-search"></span>
                                                   </a>
                                            </form> 
                                         </div>
                 
                                         
                 
                                         <div class = "flex-wrapper-items">
                                        <!-- <i class="fa fa-user"></i> -->
                 
                                        <a href="http://localhost:8080/Account4">
                                         <span style="color: black" class="glyphicon glyphicon-user"></span>
                                       </a>
                     
                                    </div>



                                    <!-- <div class = "flex-wrapper-items">

                                            <button style="background-color: black; color: white " type="button" class="btn btn-default btn-sm">
                                                   <span  class="glyphicon glyphicon-log-out"></span> Log out
                                                 </button>
                                            </div> -->
                                            <div class = "flex-wrapper-items">

                                            <a href="http://localhost:8080/login4">
                                                    <span onclick="myFunction()" style="color: black" class="glyphicon glyphicon-log-out"></span>
                                                  </a>
                                                  </div>

                                    </div>


    </body>
    <script>
    window.onload = function() {
    var i;
    var like = document.getElementsByClassName("k");
    // var foot = document.getElementsByClassName("footer-items");
    
    for (i = 0; i < like.length; i++) {
        like[i].addEventListener("click", function() {
            this.classList.toggle("red");
        });
    }   
}
function myFunction() {
  window.alert("Logged Out Successfully");
}
    </script>
</html>
